*,
*::before,
*::after {
    box-sizing: border-box;
}

 :root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --fw-reg: 300;
    --fw-med: 500;
    --fw-bold: 600;
    --clr-light: #fff;
    --clr-med: #585656;
    --clr-dark: #303030;
    --clr-accent: #405E58;
    --clr-topic-edu: #1F739D;
    --clr-topic-comm: #8A3222;
    --clr-twitter: #1DA1F2;
    --clr-facebook: #0D4CC9;
    --fs-h1: 2rem;
    --fs-h2: 1.6rem;
    --fs-h3: 1.35rem;
    --fs-h4: 1.2rem;
    --fs-body: 1.125rem;
    --fs-tiny: .85rem;
    --bs-nhc: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    --bs-hc: 0 8px 16px 0 rgba(2, 1, 1, 0.25);
}

/* General */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}

p {
    grid-column: 2;
    margin-top: .5em;
    margin-bottom: .5em;
}

a {
    color: var(--clr-facebook);
}

ol,
ul,
li {
    grid-column: 2;
    margin: .5em;
}

strong {
    font-weight: var(--fw-bold);
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--fw-bold);
    grid-column: 2;
    line-height: 1;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    margin-bottom: 0;
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

h4 {
    margin-bottom: -.10em;
}







/* Footer */

.footer {
    background: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
    padding: .125em 0;
    font-size: var(--fs-tiny);
    border-top-color: var(--clr-dark);
}


